{% extends 'base.html' %}
{% load static %}
{% block title %}Chat{% endblock %}
{% block content %}
    <style>
        .chat-container {
            display: flex;
            flex-direction: column;
            margin-top: -2em;
        }
        .chat-history {
            flex-grow: 1;
            overflow-y: auto;
            max-height: 60vh;
            height: 60vh;
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: rgba(231, 231, 231, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .chat-message {
            display: flex;
            margin-bottom: 0.5rem;
        }
        .chat-message.ai {
            justify-content: flex-start;
        }
        .chat-message.user {
            justify-content: flex-end;
        }
        .message {
            max-width: 70%;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
        }
        .message.ai {
            background-color: #ff8ebc;
            text-align: left;
        }
        .message.user {
            background-color: #e83283;
            text-align: right;
            color: white;
        }
        .input-container {
            display: flex;
            padding: 1rem;
            margin-top: -2em;
        }
        .terminate {
            margin-right: -5em;
        }
    </style>

    <div class="chat-container">
        <main class="flex flex-col flex-grow p-4">
            <div id="chat-history" class="chat-history mb-4 p-4 rounded shadow">
                <!-- Chat history will be dynamically inserted here -->
            </div>
            <div class="input-container d-flex justify-content-center">
                <form method="POST" id="chat-form" class="d-flex w-75" autocomplete="off">
                    {% csrf_token %}
                    <div class="input-group">
                        <input id="chat-input" type="text" class="form-control" placeholder="Type your message here...">
                        <button class="btn btn-primary" type="submit" id="send-button">Send</button>
                    </div>
                    <button class="btn btn-link w-25 terminate" type="submit" id="terminate-button">Finish session</button>
                </form>
            </div>
        </main>
    </div>

    <script>
        const chatForm = document.getElementById('chat-form');
        const chatInput = document.getElementById('chat-input');
        const sendButton = document.getElementById('send-button');
        const chatHistory = document.getElementById('chat-history');
        const terminateButton = document.getElementById('terminate-button');

        terminateButton.addEventListener('click', function(event) {
            event.preventDefault();
            fetch("{% url 'terminate' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = "/chat/"; // Redirige a la URL devuelta por el servidor
                    }
                })
                .catch(error => console.error('Error:', error));
        });

        chatForm.addEventListener('submit', function(event) {
            event.preventDefault();
            const message = chatInput.value.trim()
            if (message) {
                chatInput.disabled = true;
                chatInput.placeholder = "Awaiting response..."
                sendButton.disabled = true;
                sendButton.classList.remove('btn-primary');
                sendButton.classList.add('btn-secondary');

                const messageWrapper = document.createElement('div');
                messageWrapper.classList.add('chat-message', 'user');

                const messageElement = document.createElement('div');
                messageElement.classList.add('message', 'user');
                messageElement.textContent = message;

                messageWrapper.appendChild(messageElement);
                chatHistory.appendChild(messageWrapper);
                chatInput.value = '';


                fetch('response', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    body: new URLSearchParams({
                        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                        'message': message
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        const response = data.response;
                        const messageWrapper2 = document.createElement('div');
                        messageWrapper2.classList.add('chat-message', 'ai');

                        const messageElement2 = document.createElement('div');
                        messageElement2.classList.add('message', 'ai');
                        messageElement2.textContent = "";

                        messageWrapper2.appendChild(messageElement2);
                        chatHistory.appendChild(messageWrapper2);

                        let i = 0;
                        function typeWriter() {
                            if (i < response.length) {
                                if (response.charAt(i) === '\n') {
                                    messageElement2.innerHTML += "<br>"; // Sustituye salto de línea por <br>
                                } else {
                                    messageElement2.innerHTML += response.charAt(i);
                                }
                                i++;
                                setTimeout(typeWriter, 0.00001);
                            } else {
                                chatInput.disabled = false;
                                chatInput.placeholder = "Type your message here...";
                                sendButton.disabled = false;
                                sendButton.classList.remove('btn-secondary');
                                sendButton.classList.add('btn-primary');
                                chatInput.focus();
                            }
                        }
                        typeWriter();
                    });

                chatHistory.scrollTop = chatHistory.scrollHeight;
            }
        });
    </script>
{% endblock %}