<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>

  <title>Configuración</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type='text/css' media='screen' href="{% static 'css/bootstrap.min_quartz.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" >
  <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}" >
</head>
<body>



    {% if messages %}
        <div class="alert alert-dismissible alert-primary">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  
  
    

    <div class="settings-container">
        <div class="settings-wrapper">
            <h2>Ajustes y Configuración</h2>
            <form style="margin-bottom:1em" class="settings-form centered" method="post">
                {% csrf_token %}
                <label class="form-label mt-4" for="username">Usuario</label>
                {{user_update_form.first_name}}
                
                <label class="form-label mt-4" for="email">Email</label>
                {{user_update_form.email}}

                <button class="btn btn-primary" type="submit" name="update_profile">Actualizar Perfil</button>
            </form>
            
            <form autocomplete="off" style="margin-bottom: 1em;" class="settings-form centered" method="post">
                {% csrf_token %}
                <label class="form-label mt-4" for="{{ field.id_for_label }}">Old password</label>
                {{password_form.old_password}}

                <label class="form-label mt-4" for="{{ field.id_for_label }}">New password</label>
                {{password_form.new_password1}}

                <label class="form-label mt-4" for="{{ field.id_for_label }}">Password confirmation</label>
                {{password_form.new_password2}}
                <div class="btn-abajo">
                    <button class="btn btn-primary" type="submit" name="update_password">Cambiar Contraseña</button>
                </div>
                
            </form>
        </div>

    </div>

    
</body>
</html>