<!DOCTYPE html>
<html lang="es">
<head>

  <title>Configuración</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div>
        <h2>Ajustes y Configuración</h2>

        <form method="post">
            {% csrf_token %}
            {{ user_update_form.as_p }}
            <button type="submit" name="update_profile">Actualizar Perfil</button>
        </form>

        <form method="post">
            {% csrf_token %}
            {{ password_form.as_p }}
            <button type="submit" name="update_password">Cambiar Contraseña</button>
        </form>

    </div>

    
</body>
</html>