<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}Registrate{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type='text/css' media='screen' href="{% static 'css/bootstrap.min_quartz.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" >
</head>

<body>
    <div class="login-container">
        <form method="POST" class="login-form centered" action="">
            <h1 id="iniciaSesion"><u>Únete a nosotros!</u></h1>

            <div>
                <p id="">Los campos marcados con * son <u>obligatorios</u>.</p>
            </div>
            
            {%csrf_token%}
            <label class="form-label mt-4" for="email">Email(*)</label>
            {{form.email}}

            <label class="form-label mt-4" for="username">Usuario(*)</label>
            {{form.username}}

            <label class="form-label mt-4" for="username">Nombre (*)</label>
            {{form.first_name}}

            <label class="form-label mt-4" for="password">Contraseña(*)</label>
            {{form.password1}}

            <label class="form-label mt-4" for="password2">Reintroduce la contraseña(*)</label>
            {{form.password2}}

        
            <div style="margin-top:1em; margin-bottom:1em" class="alert alert-dismissible alert-warning">   
                <h4 class="alert-heading">Warning!</h4>
                {{ form.password1.help_text | safe }}
            </div>

            <script> 
                document.querySelector(".spinner").innerHTML = "";
            </script>
            
  

                    
            

            <input style="margin-top:1em; margin-bottom:1em" class="btn btn-primary" data-bs-dismiss="alert" type="submit" name="Create User" value="REGISTRATE">
            <div style="margin-top:1em">
                <p>¿Ya estás registrado? <a href="/">Inicia Sesión</a></p>
            </div>  

        </form>

        
    </div>

</body>

</html>