/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
}
.container {
    max-width: 900px;
    margin: auto;
    background: #0d0a1d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tree {
    margin-bottom: 40px;
    padding: 20px;
    background: #191436;
    border-radius: 8px;
}

.appI {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}

.moduleI {
    margin-left: 20px;
    font-weight: bold;
}

.function {
    margin-left: 40px;
}

.function a {
    text-decoration: whitesmoke;
    color: #ee831f;
}

.function a:hover {
    text-decoration: underline;
}

.app {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: medium;
    color: #ee831f;
}

.module {
    color: #ffffff;
    margin-left: 20px;
    font-weight: bold;
    font-size: larger;
}

.doc-section {
    margin-top: 20px;
    padding: 10px;
    color: #ffffff;
    background: #191436;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.doc-name {
    color: #ee831f;
    font-size: larger;
    padding-bottom: 10px;
}

.definition-box {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px;
    padding-top: 0;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: monospace; 
    white-space: pre-line; 
    display: inline-block;
    align-self: center;
    max-width: 100%;
}