/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
}
.container {
    max-width: 900px;
    margin: auto;
    background: #0d0a1d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tree {
    margin-bottom: 40px;
    padding: 20px;
    background: #0d0a1d;
    border-radius: 8px;
}

.app {
    margin-bottom: 10px;
    font-weight: bold;
}

.module {
    margin-left: 20px;
    font-weight: bold;
}

.function {
    margin-left: 40px;
}

.function a {
    text-decoration: none;
    color: #007BFF;
}

.function a:hover {
    text-decoration: underline;
}

.doc-section {
    margin-top: 30px;
    padding: 10px;
    background: #0d0a1d;
    border-radius: 5px;
}
