<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet" type='text/css' media='screen' href="{% static 'css/bootstrap.min_quartz.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" >

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a style="font-size:20px; padding-left:1.5em" class="nav-link {% if chat %}active{% endif %}" href="/chat"><strong>Begin conversation</strong></a>
                    </li>
                    <li class="nav-item">
                        <a style="font-size:20px; padding-left:1.5em" class="nav-link {% if perfil %}active{% endif %}" href="/aboutme"><strong>About me</strong></a>
                    </li>
                </ul>
            </div>
        </div>
        


        {% if user.is_authenticated %}
        <div style="margin-right: 1em;" class="dropdown">
            <div style="display: flex; justify-content: center; align-items: center;">
            <a class="navbar-brand" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#"><u>{{user.username}}</u></a>
                <div class="dropdown-menu" style="margin-top: 8em;" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/settings">Settings</a>
                            <a class="dropdown-item" href="/logout">Sign out</a>
                        </div>
                </div>
            </div>
        {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}">Sign in</a>
            <a class="btn btn-secondary" href="{% url 'register' %}">Sign up</a>
        {% endif %}



    </nav>


    {% block content %}
    {% endblock %}
    {% include 'chat.html' %}
    <script src="{% static 'javascript/support-chat.js' %}"></script>
</body>
</html>